.pokemonCard {
  display: flex;
  background-color: grey;
  border-radius: 33px;
  height: 100px;
  width: 200px;
  margin: 10px;
  box-shadow: 5px 5px 5px rgb(48, 48, 48);
}

.pokemon {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokeListGenerator {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.pokemonInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0;
  margin: 0;
  background-color: rgb(255, 108, 108);
  border-radius: 33px;
  padding-left: 10px;
  height: 100px;
  width: 94px;
  box-shadow: inset 3px 2px 3px rgb(58, 58, 58);
}

.pokemonInfo > * {
  margin: 0;
  padding-top: 7px;
}
